body{
    background-color: gray;
    color: red;
}
p{
    background: red;
    color: gray;
}
pre{
    background: green;
    width: 200px;
    height: 200px;
    color: honeydew;
    text-align: center;
}